*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #4ba078;
    width: 80%;
    margin: auto;
}
main{
    padding: 5rem;
    color: white;
}
#title, #pres, #wiki{
    text-align: center;
}
#image{
    display: block;
    max-width: 100%;
    height: auto;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
#img-caption{
    margin-top: 10px;
    color: #332f2f;
}
#img-caption,#img-caption > a, #timeline, #wiki, #wiki > a{
    color: #332f2f;
}
#intro{
    text-indent: 2em;
}
#timeline{
    text-align: center;
    font-weight: bold;
    color: #332f2f;
}
ul{
    width: 90%;
    margin: auto;
}
ul, #intro{
    text-align: justify;
}